body {
    background-color: rgb(193, 216, 205);
}

article {
    display: flex;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: rgb(13, 13, 46);
    margin: 2px;
}

#places {
    height: 200px;
}

h3 {
    color: rgb(19, 39, 19);
}

.eras {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: rgb(46, 46, 92);
}

.lists {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

#action-button {
    color: green;
    background-color: azure;
}

.hidden {
    opacity: 0;
} 

