body {
    background-color: rgb(152, 209, 181);
}

h3 {
    color: rgb(19, 39, 19);
};

.eras {
    font-family: 'Montserrat', sans-serif;
    color: rgb(46, 46, 92);
}

#action-button {
    color: green;
    background-color: azure;
}

#hidden {
    opacity: 0;
}